<!DOCTYPE html>
<html>
  <head>
    <title>Yard</title>
    <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="cart">
        <a href="/mycart">
          <span class="cart_amount">$<%=session[:total]%></span><img class="img-cart" src="bag.png">
        </a>
      </div>
       <%= yield %>
    </div>
  </body>
</html>
